body {
	@include font-size(sm);
	font-family: 'Lato', sans-serif;
	height: 100%;
	color: $primary-text-color;
	font-weight: 300;
	background-color: $primary-background-color;
}

.blur-background {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(/admin/assets/img/pattern.png);
	background-size: cover;
	z-index: -2;
	top: 0;
	overflow: hidden;
}