body {
	@include font-size(sm);
	@include no-smooth-font();
	font-family: 'Lato', sans-serif;
	height: 100%;
	color: $primary-text-color;
	font-weight: 400;
	background-color: $primary-background-color;

	min-width: 800px;

	// events
	&.modal-open {
		overflow: hidden;
		margin-right: 15px;
	}
}