/assets/vendor
/node_modules
/assets/css/sprites
/enduro_secret.json
/juicebox/**/*
/_generated/t/*
/_generated/assets/img/uploaded
/assets/img/uploaded
/uitest_testproject
tmp_*
/remote
_generated/remote/