<div ng-controller="cms-editor-controller">
	<div class="header-bar">
		<div class="page-search">a</div>
		<div class="btn btn-minor small publish-button" ng-click="temp()" ng-class="{'publishing': temping" ng-if="!no_page_associated"><i class="fa fa-bolt"></i>Temp</div>
		<div class="btn btn-success small publish-button" ng-click="publish()" ng-class="{'publishing': publishing, 'disabled': is_demo}"><i class="fa fa-cloud"></i>Publish</div>
	</div>
	<div class="page-viewport">
		<div class="panel">
			<div class="panel-body">

				<div class="subwedge"></div>

				<ul class="crumbs">
					<li ng-repeat="crumb in path_list">{{crumb}}</li>
				</ul>

				<div class="wedge"></div>

				<h2 ng-if="!no_page_associated"><a target="_blank" href="/{{page_link}}"><i class="fa fa-link large"></i>{{pretty_name}}</a></h2>
				<h2 ng-if="no_page_associated">{{pretty_name}}</h2>

				<div class="wedge"></div>
				<div ng-include="'/admin/assets/js/controls/object_control.html'" ng-init="no_frame=true"></div>
				<div class="wedge-3x"></div>

				<div ng-if="current_culture != ''">
					<ul class="culture-switcher">
						<li ng-repeat="culture in cultures track by $index">
							<span ng-click="change_culture($event)" data-culture="{{culture}}" ng-class="current_culture == culture ? 'active' : ''">{{culture}}</span>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>