.form-control.checkbox {
	margin-bottom: 20px;
	label {
		margin: 0;

		&:after {
			display: none;
		}

		> span {
			position: static;
			display: inline-block;
			float: none;
		}

		input {
			width: auto;
			display: inline-block;
		}
	}
}
