.nice-wrapper {
	// @include input-accent();

	> span {
		@include font-size(xs);
		position: absolute;
		top: -20px;
		margin-left: 1px;
		font-weight: 500;
	}

	label {
		&:after {
			bottom: 0px !important;
		}
	}

	select {
		border-radius: 3px;
		appearance: none;
		width: 100%;
		padding: 11px 15px 10px;
		border: solid 1px rgba($primary-color, .4);
		cursor: pointer;
	}
}
