.form-control {
	textarea {
		width: 100%;
		min-height: 150px;
		border-radius: 3px;
		border: solid 1px rgba($primary-color, .4);
		margin-bottom: 4px;
		padding: 11px 15px 10px;
		tab-size : 4;
		background-color: $white;

		// modifiers
		&.markdown {
			height: 70vh;
			font-family: "Lucida Console", Monaco, monospace;
			font-size: 13px;
		}

		&.uploading {
			animation: pulse 1s ease infinite;
		}
	}
}
