// * ———————————————————————————————————————————————————————— * //
// * 	Text input
// * ———————————————————————————————————————————————————————— * //


.form-control {
	label {
		position: relative;
		margin-bottom: 15px;
		margin-top: 15px;

		span {
			position: absolute;
			top: -22px;
		}

	}
}