// * ———————————————————————————————————————————————————————— * //
// * 	Text input
// * ———————————————————————————————————————————————————————— * //
.form-control {
	label {
		@include input-accent(10px);
		position: relative;
		margin-bottom: 15px;
		margin-top: 15px;
		width: 100%;

		> span {
			@include font-size(xs);
			display: block;
			margin-top: -20px;
			margin-left: 1px;
			font-weight: 500;
			float: left;
		}
	}

	input,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"] {
		@include standard-border();
		color: $black;
		width: 100%;
		padding: 11px 15px 10px;
		margin-bottom: 10px;
		background: rgba($white, .5);
		transition: border-bottom $quick-transition;
		box-sizing: border-box;

		&:focus {
			border-bottom: 1px $primary-color solid;
			box-shadow: 0 0 6px rgba($primary-color, .5);
		}

		// override for remembered passwords
		input:-webkit-autofill{
			background-color: inherit !important;
			background-image: none !important;
		}
	}
}