.culture-switcher {
	@include minibutton();
	font-size: 0;
	position: absolute;
	top: -20px;
	left: 0;

	li {
		display: inline-block;
		letter-spacing: 0;
	}

	span {
		@include font-size(sm);
		position: relative;
		top: -3px;
		padding: 1px 5px;
		border-radius: 4px;

		&.active,
		&:hover {
			padding: 4px 8px 6px;
		}

		&:hover {
			cursor: pointer;
			background-color: darken($primary-color, 20%);
			margin-left: -2px;
			margin-right: -4px;
		}

		&.active {
			background-color: darken($primary-color, 15%);
			margin-left: 0;
			margin-right: 0;
		}
	}
}