.tiny-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: $primary-color;
	border-bottom-left-radius: 4px;
	z-index: 99;

	i {
		color: $white;
		padding: 3px 6px;
		cursor: pointer;

		&:hover {
			background-color: darken($primary-color, 20%);
		}
	}
}