.page-search-results {
	@include container-background(5);
	@include shadow();
	position: absolute;
	left: -10px;
	top: #{$top-bar-height - 10px};
	text-align: left;
	width: 400px;
	max-height: calc(100vh - #{$top-bar-height + 100px});
	overflow: auto;
	padding: 13px 0;

	.result {
		padding: 10px 20px;
		cursor: pointer;
		display: block;

		&.active {
			color: $white;
			background-color: $primary-color;
		}
	}

	.page-result-title {
		font-weight: 400;
		display: block;
		margin-bottom: -8px;
	}

}