<div class="full-background light"></div>
<div class="main-viewport">

	<nav class="sidebar">
		<div class="sidebar-branding">
			{{>enduro_logo}}
		</div>

		<div class="sidebar-items" ng-controller="mainmenu_controller">
			<ul class="sidebar-group">
				<div ng-include="'/admin/layout/pagelist.html'"></div>
			</ul>
		</div>

		<div class="userbox" ng-controller="logout_controller">
			<div class="userbox-bar">
				<a href="#/logout" ng-click="forcepull()"><i class="fa fa-refresh"></i></a>
				<a href="#/logout" ng-click="logout()"><i class="fa fa-user"></i></a>
				<a href="#/cms/.settings"><i class="fa fa-cog"></i></a>
				<a href="#/logout" ng-click="logout()"><i class="fa fa-power-off"></i></a>
			</div>
		</div>

	</nav>

	<!-- Inner page -->
		<div class="inner-page-viewport" ng-include="inner_page" ng-controller="pagesplit_controller"></div>
</div>

<div ng-include="modal"></div>
