@mixin shadow() {
	box-shadow: 1px 1px 10px rgba($black, .2), 2px 2px 50px rgba($black, .01);
}

@mixin latte-shadow() {
	box-shadow: 0 0 3px rgba($black, .05), 1px 1px 12px rgba($black, .03);
}

@mixin control-shadow() {
	box-shadow: 0 0 2px rgba($black, .3), 1px 1px 12px rgba($black, .2);
}