.page-preloading {
	@include cover();
	height: 100vh;
	display: none;

	.contentbox {
		@include container-background();
		@include shadow();
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 100px;
	}

	.is-currently-preloading & {
		display: block;
	}
}