.card {
	border: 0;
}

.card-body {
	@include container-background();
	@include shadow();
	@include rounded-corners();
	padding: 50px 50px 40px;

	@include media-breakpoint-down(sm) {
		padding: 30px 20px 20px;
	}
}