button {
	border: 0;
}

.btn {
	@include font-size(sm);
	@include button-hover();
	background-color: $primary-color;
	color: $white;
	padding: 10px 30px 5px;
	border-radius: 2px;
	display: inline-block;
	user-select: none;
	margin-bottom: 10px;
	font-weight: 400;

	i {
		@include font-size(icon);
		margin-right: 10px;
		margin-left: -10px;
		position: relative;
		top: 2px;
	}

	// modifiers
	&.small {
		@include font-size(xs);
		padding: 4px 15px 0;

		i {
			margin-left: -7px;
			margin-right: 7px;
			position: relative;
		}
	}

	&.disabled {
		cursor: not-allowed;
		background-color: lighten($grey, 50%);

		&:hover {
			border-bottom: 5px transparent solid;
		}
	}

}