<div ng-controller="cms-editor-controller">
	<div class="header-bar">
		<div class="page-search" ng-controller="page_search_controller" ng-keydown="arrowpress($event)">
			<input class="page-search-input" type="text" tabindex="1" placeholder="search" ng-model="pagesearch_string">
			<i class="fa fa-search"></i>
			<div ng-include="'/admin/components/page_search/page_search_results/index.html'"></div>
		</div>
		<div class="btn btn-minor small publish-button" ng-click="temp()" ng-class="{'publishing': temping}" ng-if="has_page_associated"><i class="fa fa-bolt"></i>Temp</div>
		<div class="btn btn-success small publish-button" ng-click="publish()" ng-class="{'publishing': publishing, 'disabled': is_demo}"><i class="fa fa-cloud"></i>Publish</div>
	</div>
	<div class="page-viewport">
		<div class="panel">
			<div class="panel-body">

				<div class="subwedge"></div>

				<ul class="crumbs">
					<li ng-repeat="crumb in path_list track by $index">{{crumb}}</li>
				</ul>

				<ul class="page-action-box">
					<li ng-click="delete_current_page()" ngtooltipster title="The most current version of the page will still be recoverable in the juicebox" ng-show="deletable"><i class="fa fa-trash-o inline"></i>Delete page</li>
				</ul>

				<div class="wedge"></div>

				<h2 ng-if="has_page_associated"><a target="_blank" href="/{{page_link}}"><i class="fa fa-link large"></i>{{pretty_name}}</a></h2>
				<h2 ng-if="!has_page_associated">{{pretty_name}}</h2>

				<div class="wedge"></div>
				<div ng-include="'/admin/controls/object_control/index.html'" ng-init="no_frame=true"></div>
				<div class="wedge-3x"></div>

				<div ng-if="current_culture != ''">
					<ul class="culture-switcher">
						<li ng-repeat="culture in cultures track by $index">
							<span ng-click="change_culture($event)" data-culture="{{culture}}" ng-class="current_culture == culture ? 'active' : ''">{{culture}}</span>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>