<div class="wedge-2x"></div>
<div class="infobox" ng-class="{'hidden': settings.juicebox_enabled}">
	<i class="fa fa-exclamation-triangle"></i>
	<span>Juicebox is not enabled - Whatever you do here won't survive container restart or scaling</span>
</div>