<div class="wedge-2x"></div>
<div class="infobox" ng-class="{'hidden': settings.has_admins}">
	<i class="fa fa-exclamation-triangle"></i>
	<span>Eh, there are no admin users. Add some by running <br><br><code>enduro admin add &#60;usr&#62; &#60;pass&#62;</code><br><br> in the console.</span>
</div>