.progressbar {
	@include rounded-corners();
	width: 100%;
	height: 6px;
	background-color: $light-grey;
	position: relative;
	margin: 40px 0 10px;

	.label {
		position: relative;
		top: -23px;
	}

	.value {
		@include rounded-corners();
		content: '';
		position: absolute;
		display: block;
		background-color: $primary-color;
		height: 100%;
		top: 0;
	}
}