
.tooltipster-sidetip .tooltipster-box {
	background: rgba($white, .97);
	border: 0;
	border-radius: 3px;
	max-width: 300px;
	border: 1px $primary-color solid;
}

.tooltipster-arrow-background {
	border-top-color: $white !important;
	top: 0px !important;
}

.tooltipster-arrow-border {
	border-top-color: $primary-color !important;
	top: 1px !important;
}

.tooltipster-sidetip .tooltipster-content {
	@include font-size(xs);
	@include smooth-font();
	color: $black;
	padding: 5px 10px;
}

.control-tooltip {

	i {
		margin-left: 3px;

		&:before {
			position: relative;
			top: 0px;
			color: lighten($grey, 20%);
			@include font-size(xs);
		}
	}
}