
.tooltipster-sidetip .tooltipster-box {
	background: $black;
	border: 0;
	border-radius: 6px;
}

.tooltipster-arrow-background {
	border-top-color: $black !important;
}

.tooltipster-sidetip .tooltipster-content {
	@include font-size(xs);
	@include smooth-font();
	color: $white;
	padding: 3px 6px;
}

.control-tooltip {
	margin-left: 6px;

	&:before {
		position: relative;
		top: 1px;
		@include font-size(xs);
	}
}