<div class="modal" en-modal ng-controller="login_controller">
	<div class="modal-body login-card">

		<div class="close-button" ng-click="close()"></div>

		<div>
			<h2>Whoow</h2>
			<div class="wedge-2x"></div>
			<p>Your session expired. Log in to continue your work</p>
		</div>

		{{>login_form}}

	</div>
</div>