.sidebar_juicebox_updates {
    @include container-background();
	@include shadow();
	position: absolute;
	padding: 20px;
	top: 100%;
	transition: transform $standard-transition;
	width: 100%;
	width: 150%;

	li {
		list-style-type: none;

		.diff_bubble {
			@include rounded-corners();
			@include font-size(xs);
			background-color: $primary-color;
			color: $white;
			padding: 1px 5px;
			float: right;
			position: relative;
			top: 3px;

		}
	}

	&.updated_files_showing {
		transform: translateY(calc(-100% - #{$userbox-height}))
	}
}
