<div class="page-preloading" ng-controller="page_preloading_controller">
	<div class="contentbox">
		<div class="action">
			<span>Building page</span>
			<div class="progressbar"></div>
		</div>
	</div>
</div>