.expander-btn {
	@include font-size(sm);
	margin: 0 0 15px;
	padding: 4px 10px;
	display: inline-block;
	background-color: $primary-color;
	color: $white;
	border-radius: 5px;
	transition: background-color $standard-transition;
	cursor: pointer;
	font-weight: 400;

	i {
		margin-left: 10px;
	}

	&:hover {
		background-color: $primary-color-hover;
	}
}