.main-viewport {
	width: 100%;
	min-height: calc(100% - #{$top-bar-height});
	display: flex;
	position: absolute;
}

.page-viewport {
	float: left;
	width: calc(100% - #{$side-menu-width});
	height: 100%;
	padding: 20px;
}