.infobox {
	background-color: $infobox-alert-color;
	padding: 14px 20px 15px 60px;
	border-radius: 8px;
	line-height: 1;
	position: relative;
	color: $white;

	i {
		font-size: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;
	}
}