.array-holder {
	width: 25%;
	float: left;
}

.array-control {

	.container-title {
		position: relative;
		top: 7px;
		left: $grid-gutter-width / 2;
	}

	.object-container {
		margin: 10px 0 !important;
	}
}

.js-array-item:not(.dragging) {
	transition: left $standard-transition, top $standard-transition;
}

.array-move-control {
	cursor: move !important;
}

.dragging {
	z-index: 999;

	.object-container {
		border: 1px dashed rgba($grey, .6) !important;
	}
}