.array-holder {
	width: 25%;
	float: left;
}

.array-control {
	padding-top: 30px;
}

.js-array-item:not(.dragging) {
	transition: left $standard-transition, top $standard-transition;
}

.array-move-control {
	cursor: move !important;
}

.dragging {
	z-index: 999;

	.object-container {
		border: 1px dashed rgba($grey, .6) !important;
	}
}