.fa-control label {
	@include rounded-corners();
	@include font-size(icon2x);
	width: 80px !important;
	height: 80px;
	text-align: center;
	padding-top: 10px;
	transition: color $quick-transition, background-color $quick-transition;
	cursor: pointer;

	&:hover {
		background-color: $primary-color;
		color: $white;
	}

	&:after {
		bottom: 0 !important;
	}

}

.fa-chooser {
	color: $black;

	.fa-chooser-icon {
		@include rounded-corners();
		width: 120px;
		height: 90px;
		text-align: center;
		cursor: pointer;
		padding-top: 5px;
		display: block;
		float: left;
		padding: 10px;

		i {
			display: block;
			@include font-size(icon);
			margin-bottom: 5px;
			margin-top: 10px;
		}

		&:hover {
			background-color: $primary-color;
			color: $white;
		}
	}

	.modal-body {
		width: 80%;
		margin-left: -40%;
	}
}