<!DOCTYPE html>
<html ng-app="enduro_admin">
	<head>
		<title>enduro.js - admin</title>

		<link rel="stylesheet" href="/admin/assets/css/main.css">
		<link rel="stylesheet" href="/_prebuilt/_settings.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:700,400,300,100' rel='stylesheet' type='text/css'>

		<link rel="apple-touch-icon" sizes="57x57" href="/admin/assets/img/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/admin/assets/img/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/admin/assets/img/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/admin/assets/img/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/admin/assets/img/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/admin/assets/img/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/admin/assets/img/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/admin/assets/img/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/admin/assets/img/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/admin/assets/img/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/admin/assets/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/admin/assets/img/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/admin/assets/img/favicon//manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/admin/assets/img/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="shortcut icon" href="/admin/assets/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/admin/assets/img/favicon/favicon.ico" type="image/x-icon">

		<script src="/admin/assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/admin/assets/vendor/lodash/dist/lodash.js"></script>

		<!-- <script src="/socket.io/socket.io.js"></script> -->

		<script src="/_prebuilt/brick_admin_settings.js"></script>

		<script src="/admin/assets/vendor/angular/angular.js"></script>
		<script src="/admin/assets/vendor/angular-hotkeys/build/hotkeys.js"></script>
		<script src="/admin/assets/vendor/angular-route/angular-route.js"></script>
		<script src="/admin/assets/vendor/angular-cookies/angular-cookies.js"></script>
		<script src="/admin/assets/vendor/fuse.js/src/fuse.js"></script>
		<script src="/admin/assets/vendor/ng-file-upload/ng-file-upload.min.js"></script>

		<script src="/admin/assets/vendor/pickadate/lib/compressed/picker.js"></script>
		<script src="/admin/assets/vendor/pickadate/lib/compressed/picker.date.js"></script>
		<script src="/admin/assets/vendor/pickadate/lib/compressed/picker.time.js"></script>

		<script src="/admin/assets/vendor/moment/min/moment.min.js"></script>

		<script src="/admin/assets/js/app.js"></script>

		{{#files '/assets/js/services'}}
			<script src="/admin/assets/js/services{{relative_path}}"></script>
		{{/files}}

		{{#files '/assets/js/controllers'}}
			<script src="/admin/assets/js/controllers{{relative_path}}"></script>
		{{/files}}

		{{#files '/assets/js/directives'}}
			<script src="/admin/assets/js/directives{{relative_path}}"></script>
		{{/files}}

		{{#files '/assets/js/utilities'}}
			<script src="/admin/assets/js/utilities{{relative_path}}"></script>
		{{/files}}

		<script src="/admin/assets/vendor/tooltipster/dist/js/tooltipster.bundle.min.js"></script>

	</head>
	<body>
		<div class="page-holder" ng-view ng-cloak></div>
	</body>
</html>
