<div class="full-background"></div>
<div class="card login-card" ng-controller="login_controller">
	<div class="login-logo">
		{{>enduro_logo}}
	</div>
	<div class="card-body">

		<div>
			<h2>Login please:</h2>
			{{>login_message}}
			<div class="wedge-2x"></div>
			<p class="hidden lost-password-assistance">Looks like you are having issues logging in. Please contact the site's administrator.</p>
		</div>

		{{>login_form}}

		{{!-- {{>no-juicebox-warning}} --}}
		{{>no-user-warning}}

	</div>
</div>