.login-card {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	.card-body {
		border: 1px solid rgba($black, 0);
	}

	.modal & {
		top: 50%;
		margin-left: 0;
		margin-top: 0;
	}

	@include media-breakpoint-down(md) {
		position: static;
		transform: none;
		margin: 0 auto 0;
		padding: 20px;
	}

	@include media-breakpoint-down(sm) {
		width: auto;
	}
}