// basics
$white: #fff;
$black: #28231f;
$grey: #423d3d;
$light-grey: lighten($grey, 60%);

// primary color
$primary-color: rgba(81, 203, 238, 1);

// text colors
$primary-text-color: $grey;

// backgrounds
$primary-background-color: #f7f7f7;
$light-background-color: lighten($grey, 72%);
$primary-color-hover: darken($primary-color, 20%);
$white-hover-color: lighten($primary-color, 50%);

// infobox colors
$infobox-alert-color: $black;

// infoclors
$alert-color: #c53636;

// logo colors
$base-logo-color: $black;

$scheme: (#2ecc71, #3498db, #9b59b6);
$color1: nth($scheme, 1);
$color2: nth($scheme, 2);
$color3: nth($scheme, 3);
