// * ———————————————————————————————————————————————————————— * //
// * 	Font sizes
// * ———————————————————————————————————————————————————————— * //

$font-sizes: (
	xl: 60px,
	lg: 30px,
	md: 20px,
	sm: 16px,
	xs: 14px,
	icon: 20px,
	icon2x: 40px,
	icon3x: 60px
) !default;