// * ———————————————————————————————————————————————————————— * //
// * 	Font sizes
// * ———————————————————————————————————————————————————————— * //

$font-sizes: (
	xl: 60px,
	lg: 40px,
	md: 20px,
	sm: 14px,
	xs: 12px,
) !default;