// * ———————————————————————————————————————————————————————— * //
// * 	Font sizes
// * ———————————————————————————————————————————————————————— * //

$font-sizes: (
	xl: 60px,
	lg: 30px,
	md: 20px,
	sm: 16px,
	xs: 14px,
) !default;