{{!-- font awesome chooser --}}
<div class="form-control \{{size}} fa-control" ng-controller="fa_controller">
	<label ng-click="open_fa_chooser()">
		<i class="fa fa-\{{context[terminatedkey]}}"></i>
	</label>
</div>