<div ng-controller="object_controller">

	<div ng-include="'/admin/components/cms_utilities/expander_button/index.html'"></div>

	<div class="object-container" ng-show="context_is_not_empty()" ng-class="{'no-frame': parent_no_frame || terminated_context.noframe}">
		<div ng-if="!no_label" class="container-title">
			<h3>\{{object_name}}</h3>
		</div>
		<div class="row" ng-if="isObject(context)">
			<div ng-repeat="(key, value) in context track by $index" ng-controller="terminator_controller">

				<div ng-if="!terminated_context.hidden">
					<div ng-if="globalizer" ng-include="'/admin/controls/globalizer_control/index.html'"></div>

					<div ng-if="!globalizer && terminated_context.control_path" ng-include="terminated_context.control_path + '.html'"></div>

					<div ng-if="!globalizer && terminated_context.type && !terminated_context.control_path" ng-include="'/admin/controls/' + terminated_context.type + '_control/index.html'"></div>

					<!-- default, non-defined controls -->
					<div ng-if="!globalizer && !terminated_context.type && !terminated_context.control_path">
						<div ng-if="isString(value) || isNumber(value)" ng-include="'/admin/controls/text_control/index.html'"></div>
						<div ng-if="isObject(value)" class="form-control \{{size}}" ng-include="'/admin/controls/object_control/index.html'"></div>
						<div ng-if="isArray(value)" ng-include="'/admin/controls/array_control/index.html'"></div>
						<div ng-if="isBoolean(value)" ng-include="'/admin/controls/boolean_control/index.html'"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
