.userbox {
	@include container-background(.6);
	@include shadow();
	position: fixed;
	bottom: 0;
	width: $side-menu-width;
	height: $userbox-height;

	.userbox-bar {
		a {
			@include button-hover();
			color: inherit;
			padding: 10px 0;
			display: block;
			float: left;
			width: 25%;
			text-align: center;
			position: relative;

			i {
				margin-right: 0;
				top: 3px;
				font-size: 17px;
			}

			.bubble {
				position: absolute;
				top: 5px;
				right: 10px;
				border-radius: 6px;
				width: 18px;
				height: 18px;
				text-align: center;
				color: $white;
				font-weight: 700;
				background-color: $alert-color;
				padding: 0 1px;
			}

			&.disabled {
				i {
					color: $light-grey;
				}
			}
		}

	}
}