.userbox {
	@include container-background(.6);
	@include shadow();
	position: fixed;
	bottom: 0;
	width: $side-menu-width;
	height: $userbox-height;

	.userbox-bar {
		a {
			@include button-hover();
			padding: 10px 0;
			display: block;
			float: left;
			width: 25%;
			text-align: center;
		}
	}
}